/* Base.scss */

img {
    max-width: 100%;
    vertical-align: bottom;
}

body {
    @include body-font-light;
    margin: 0 auto;
    max-width: 600px;
    width: 200px;
}

h1, h2, h3, h4 {
    @include headline-font;
}

b, strong {
    @include body-font-bold;
}

i, em {
    @include body-font-italic;
}