/* Globals.scss */

@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,600,300italic,700italic);

$color: #262626;
//$background-color: #262626;
//$base-font-size: 22px;
$logo-color: #6e6e6e;
//$line-height: 1.45;

//@function em($px, $base: $base-font-size) {
    //@return($px / $base) * 1em;
//}

@mixin body-font-light {
    
}

@mixin body-font-italic {
    
}
    
@mixin body-font-bold {
    
}
    
@mixin headline-font {
    font-family: "ltc-bodoni-175",serif;
    font-style: normal;
    font-weight: 400;
}